@charset "utf-8";


:root {--main-color: #30B7BA;}

body { font-family: 'Pretendard',sans-serif; font-size: 1.6rem; color: #3b321f; background: #fff; overflow-x: hidden; line-height: 1.5;}
.inner { max-width: 1440px; margin: 0 auto; padding: 0 20px; height: 100%; }

#header { position: fixed; left: 0; top: 0; width: 100%; height: 80px; z-index: 99; background: #fff; }
#header .inner { max-width: 1600px; display: flex; justify-content: space-between; align-items: center; height: 100%;}
#header h1 { font-size: 0; }
#header h1 img { width: 20vw; min-width: 150px; max-width: 250px; }
#header nav { height: 100%; }
#header .gnb { display: flex; font-size: 1.8rem; font-weight: 500; text-align: center; height: 100%; align-items: center; }
#header .gnb > li { position: relative; padding: 0 20px; height: 100%; display: flex; align-items: center; cursor: pointer; transition: all 0.3s; }
#header .gnb li.active { color: var(--main-color);}
#header .gnb li.wide { padding: 0 35px; }

/* 모바일 메뉴 버튼 */
.m_button { display: none; width: 26px; height: 26px; position: relative; cursor: pointer; }
.m_button span { width: 12px; height: 12px; background: #efefef; border-radius: 4px; font-size: 0; }
.m_button span:nth-child(1) { position: absolute; left: 0; top: 0; }
.m_button span:nth-child(2) { background: var(--main-color); position: absolute; right: 0; top: 0; }
.m_button span:nth-child(3) { position: absolute; left: 0; bottom: 0; }
.m_button span:nth-child(4) { position: absolute; right: 0; bottom: 0; }

/* 헤더 버튼 */
#header .btns { display: flex; gap: 10px; }
#header .btns button { background: transparent; border: 1px solid #ccc; border-radius: 40px; padding: 0 10px; height: 40px; font-size: 1.4rem; transition: all 0.5s; color: #666; font-weight: 500; }
#header .btns button:hover { background: var(--main-color); color: #fff; }


/* 2차 메뉴 */
#header .gnb li .depth2 { position: absolute; left: 0; top: 80px; width: 100%; display: none; z-index: 99; padding-top: 20px;  }
#header .gnb li .depth2 li { padding: 10px 0; color: #A19E96; transition: all 0.3s; cursor: pointer; }
#header .gnb li .depth2 li:hover { color: var(--main-color); }

#header .bg { width: 100%; position: absolute; left: 0; background: rgba(61, 63, 53, 0.6); height: 400px; display: none; z-index: 98; backdrop-filter: blur(10px); }

/* 모바일 메뉴 */
#header .m_menu { position: fixed; top: 0; right: -100%; z-index: 99; width: 50%; background: #fff; height: 100%; max-width: 320px; display: flex; align-items: center; padding: 0 50px; transition: all 0.5s; }
#header .m_menu .m_wrap { width: 100%; height: 100%; position: relative; display: flex; padding: 150px 0; }
#header .m_depth2 { display: none; }

#header .btn_close { position: absolute; right: -20px; top: 15px; width: 30px; height: 30px; transform: rotate(45deg); cursor: pointer; }
#header .btn_close span { display: block;  background: #222222; }
#header .btn_close span:nth-child(1) { width: 2px; height: 100%; position: absolute; left: 50%; top: 50%; transform: translate(-50%,-50%); }
#header .btn_close span:nth-child(2) { width: 100%; height: 2px; position: absolute; left: 50%; top: 50%; transform: translate(-50%,-50%); }

#header .m_gnb > li a { display: block; padding: 15px 0; position: relative; cursor: pointer; font-weight: 500;}
#header .m_gnb > li a::after { content: ""; width: 0; height: 1px; position: absolute; left: -50px; top: 50%; transform: translateY(-50%); background: var(--main-color); transition: all 0.5s; }
#header .m_gnb > li:hover a::after { width: 40px; }
#header .m_gnb > li a:hover { color: var(--main-color); }

#header .m_gnb .m_depth2 li { cursor: pointer; padding: 10px 0; opacity: 0.6; transition: all 0.5s; }
#header .m_gnb .m_depth2 li:hover { opacity: 0.9; }


@media (max-width:1600px){
    #header .gnb { font-size: 1.6rem; }
}

@media (max-width:1400px){
    #header .gnb li { padding: 0 10px; }
    #header .gnb li.wide { padding: 0 20px; }
    #header .btns { gap: 10px; }
}

@media (max-width:1200px){
    #header .gnb li.wide { padding: 0 10px; }
}

@media (max-width:1100px){
    #header .btns button { font-size: 1.2rem; }
    #header .gnb { font-size: 1.4rem; }
}
@media (max-width:980px){
    #header { height: 70px; }
    #header .gnb { display: none; }
    .m_button { display: block; }
    #header .btns { width: 80%; justify-content: flex-end; padding: 0 20px; }
}

@media (max-width:800px){
    #header .btns { width: auto; }
}

@media(max-width:600px){
    #header .btns button:nth-child(1) { display: none; }
    #header .btns { width: 60%; }
}
@media(max-width:450px){
    #header .btns { width: 50%; }
}

@media(max-width:400px){
    #header .btns { display: none; }
}

/* 메인 */
.btn { padding: 15px 25px; background: rgba(255,255,255,0.4); border-radius: 50px; font-size: 1.8rem;  }
h2 { font-size: 4rem; font-weight: 400; display: inline-block; position: relative; font-family: 'NanumSquareNeo',sans-serif;}
h2::after { content: ""; font-size: 3rem; position: absolute; left: 50%; top: -50px; transform: translateX(-50%); color: #caa547; font-family: "Playball", cursive; font-weight: 400; letter-spacing: 2px;}

@media (max-width:1600px) {
    h2 { font-size: 3.2rem; }
    .btn { padding: 10px 20px; font-size: 1.6rem; }    
}

@media(max-width:650px){
    h2 { font-size: 2.8rem; }
    .bnt { padding: 10px 15px; font-size: 1.4rem; }
}

@media(max-width:450px){
    h2 { font-size: 2.2rem; }
}

/* 퀵메뉴 */
.quickbar { position: fixed; right: 30px; bottom: 30%; transform: translateY(30%); z-index: 99; background: #fff; border-radius: 10px; overflow: hidden; box-shadow: rgba(0, 0, 0, 0.2) 0 0 10px; font-size: 1.4rem; }
.quickbar ul li a { display: flex; flex-direction: column; align-items: center; text-align: center; padding: 10px 0; }
.quickbar ul li a img { width: 34px; margin: 10px; }
.quickbar ul li { padding: 0 5px; border-top: 1px solid rgba(104, 104, 104, 0.2); display: flex; align-items: center; justify-content: center; flex-direction: column; transition: all 0.5s; }
.quickbar ul li:nth-child(6) { display: block; background: var(--main-color); color: #fff; padding: 10px 0; }
.quickbar ul li:nth-child(6),.quickbar ul li:nth-child(1) { border: none; }
.quickbar ul li:nth-child(6) span { display: block; width: 26px; height: 26px; transform: rotate(-90deg); justify-self: center; line-height: 26px; font-size: 2.2rem; color: #fff; cursor: pointer; }
.quickbar ul li:nth-child(6) a { padding: 0; padding-top: 10px; }

.quickbar ul li:hover { background: rgba(48, 183, 186, 0.1); }
.quickbar ul li:nth-child(6):hover { background: #1ca4a7 }

@media(max-width:1700px){
    .quickbar ul li a img { width: 26px; }
}

@media(max-width:650px){
    .quickbar { right: 0; bottom: 0; transform: translateY(0); width: 100%; border-radius: 0 10px 0 0; }
    .quickbar ul { display: flex; width: 100%;}
    .quickbar ul li { width: calc(100% / 6); font-size: 0; }
    .quickbar ul li:last-child { font-size: 1.2rem; }
    .quickbar ul li a { padding: 5px 0; }
}


.main_visual { padding-top: 80px; background: url(../img/m_visual.jpg) no-repeat center /cover; position: relative; overflow: hidden;}
.main_visual::after {content: ""; width: 100%; height: 100%; position: absolute; left: 0; top: 0; background: #000; opacity: 0.7; z-index: 0;}
.m_visual { width: 100%; height: 100vh; position: relative; }
.m_visual_txt { position: absolute; left: 0; width: 100%; height: 100%; font-size: 3.6rem; color: #fff; z-index: 1;}
.m_visual_txt .inner { display: flex; flex-direction: column; justify-content: center; align-items: flex-start; }
.m_visual_txt h2 { padding-bottom: 50px; }
.m_visual .btn { color: #fff; font-weight: 600; transition: all 0.5s; }
.m_visual .btn:hover { background: #fff; color: var(--main-color); font-weight: 600; }

.director { position: absolute; right: 7vw; bottom: 0; width: 65%; display: flex; z-index: 3; }
.director img { width: 100%; }
.director div:nth-child(1) img { transform: translateX(170px); }
.director div:nth-child(1) { z-index: 2; } 
.director div:nth-child(2) { z-index: 1; } 


@media (max-width:1400px) {
    .director img { width: 120%; }
    .director div:nth-child(1) img { transform: translateX(100px); }
}

@media (max-width:1000px) {
    .m_visual_txt .inner { justify-content: flex-start; padding: 50px 20px; }
    .director img { width: 150%; }
    .director div:nth-child(1) img { transform: translateX(30px); }
}

@media(max-width:650px){
    .director img { width: 200%; }
    .director { right: 50px; }
    .director div:nth-child(1) img { transform: translateX(-30px); }
}

@media(max-width:450px){
    .director { right: 100px; }
    .director img { width: 250%; }
    .m_visual_txt .inner { padding: 30px 20px; }
}


.sub_visual { margin: 100px 0; }
.sub_visual .inner { max-width: 1100px; }
.sv { background: url(../img/sub_visual.png) no-repeat center / cover; width: 100%; border-radius: 50px; height: 600px;  }

@media (max-width:1000px){
    .sv { height: 500px; }
}

@media (max-width:900px){
    .sv { height: 400px; }
}

@media (max-width:700px){
    .sv { height: 350px; }
}

@media(max-width:650px){
    .sv { height: 300px; }
}

@media(max-width:450px){
    .sub_visual { margin: 50px 0; }
    .sv { height: 200px; border-radius: 30px; }
}

@media(max-width:400px){
    .sv { height: 150px; }
}

.about { background: url(../img/about_bg.png) no-repeat; height: 750px; position: relative; background-attachment:fixed; background-position: center -1000px;}
.about_bg { background: rgba(0, 0, 0, 0.5); width: 100%; height: 100%; position: absolute; left: 50%; top: 50%; transform: translate(-50%, -50%); z-index: 0;}
.about_txt { text-align: center; color: #fff; width: 100%; max-width: 1440px; position: absolute; left: 50%; top: 50%; transform: translate(-50%,-50%);}
.about_txt h2 { padding-bottom: 100px; }
.about_txt h2::after {content: "About";}
.about_txt ul { display: flex; gap: 50px; justify-content: space-between; font-size: 3rem; }
.about_txt ul li { width: 100%; height: 100%; background: rgba(0, 0, 0, 0.4); padding: 50px 0; border-radius: 30px; position: relative; }
.about_txt ul li::after { content: ""; position: absolute; left: 50%; top: 50%; width: calc(100% - 20px); height: calc(100% - 20px); border: 2px solid var(--main-color); border-radius: 30px; transform: translate(-50%, -50%); opacity: 0.4;} 
.about_txt ul li span { display: block; font-size: 4rem; display: flex; align-items: center; justify-content: center; gap: 15px; color: #caa547; font-weight: 600; }
.about_txt ul li b { font-weight: 400; font-size: 2.8rem; color: #fff; }

@media (max-width:1000px){
    .about_txt ul { font-size: 2.2rem; padding: 0 20px;}
    .about_txt ul li span { font-size: 2.8rem; }
    .about_txt ul { gap: 30px; }
}

@media (max-width:900px){
    .about_txt ul { font-size: 2rem;}
    .about_txt ul li span { font-size: 2.4rem; }
}

@media(max-width:700px){
    .about_txt ul { font-size: 1.6rem;}
    .about_txt ul li span { font-size: 2rem; }
    .about_txt ul li b { font-size: 2rem; }
}

@media (max-width:650px){
    .about_txt h2 { padding-bottom: 70px; }
    .about { height: 550px; }
    .about_txt ul { font-size: 1.4rem;}
    .about_txt ul li span { font-size: 1.6rem; }
    .about_txt ul li b { font-size: 1.6rem; }
}

@media (max-width:450px){
    .about { height: 600px; background: url(../img/about_bg.png) no-repeat center /cover; background-size: 150%;}
    .about_txt h2 { padding-bottom: 50px; }
    .about_txt ul { font-size: 1.2rem; gap: 10px; flex-direction: column;}
    .about_txt ul li { padding: 30px 0; border-radius: 15px; line-height: 2;}
    .about_txt ul li::after { border-radius: 15px; width: calc(100% - 10px); height: calc(100% - 10px); }
    .about_txt ul li br:nth-child(2) { display: none; }
    .about_txt ul li span { font-size: 1.4rem;  }
    .about_txt ul li b { font-size: 1.4rem; }
}

.different { text-align: center; padding: 150px 0; background: linear-gradient(rgba(255,255,255,0.1), rgba(219,219,219,0.3) 100%); }
.different h2 { padding-bottom: 80px; }
.different h2::after { content: "Difference"; color: #A19E96; }

.different ul { transition: all 0.5s; }
.different ul.dif1 { display: flex; gap: 50px; justify-content: space-between; background: url(../img/different_1.jpg) no-repeat center / cover; padding: 60px; border-radius: 30px; height: 600px; align-items: flex-end; position: relative; overflow: hidden; }
.different ul.dif2 { background: url(../img/different_2.jpg) no-repeat center / cover; background-size: 100%; display: flex; gap: 50px; justify-content: space-between; padding: 60px; border-radius: 30px; height: 600px; align-items: flex-end; position: relative; overflow: hidden; }
.different ul.dif3 { background: url(../img/different_3.png) no-repeat center / cover; display: flex; gap: 50px; justify-content: space-between; padding: 60px; border-radius: 30px; height: 600px; align-items: flex-end; position: relative; overflow: hidden; }

.different ul .black_bg { position: absolute; left: 0; top: 0; width: 100%; height: 100%; background: #000; opacity: 0.6; }

.different ul li { height: 50%; width: calc((100% / 3) - 50px); align-content: center; transition: all 0.5s; position: relative; z-index: 1;}

.different ul li.active b { transform: translateY(-100px); }
.different ul li.active p { transform: translateY(-60px); }
.different ul li.active::before { content: ""; position: absolute; left: 50%; bottom: 58px; transform: translateX(-50%); width: calc(100% - 20px); height: calc(100% - 20px); border: 2px solid var(--main-color); opacity: 0.4; border-radius: 15px; z-index: 0; }
.different ul li.active::after { content: ""; position: absolute; left: 0; bottom: 50px; width: 100%; height: 100%; background: rgba(0, 0, 0, 0.4); border-radius: 15px; z-index: -1; }


.different ul li p { padding: 30px 0; font-size: 2.4rem; font-weight: 400; color: #ffffff; transition: all 0.5s; height: 132px;}
.different ul li p span { color: #ffffff; font-weight: 700; }
.different ul li img { width: 100%; border-radius: 30px; }
.different ul li b { display: block; width: 40px; height: 40px; background: #caa547; justify-self: center; border-radius: 50%; align-content: center; transition: all 0.5s; color: #fff; font-size: 2rem; }

@media(max-width:1000px){
    .different ul.dif1 { gap: 30px; }
    .different ul.dif2 { gap: 30px; background-size: 100%; }
    .different ul.dif3 { gap: 30px; }
    .different ul li { width: calc((100%/ 3 ) - 30px); }
    .different ul li p { font-size: 2rem; }
}

@media(max-width:900px){
    .different ul.dif2 { background-size: 120%; }
}

@media(max-width:768px){
    .different ul li { width: 100%; height: calc((100% / 3) - 20px); }
    .different ul li.active b { transform: translateY(-10px); }
    .different ul li.active p { transform: translateY(-10px); }
    .different ul li.active::before { bottom: 8px; }
    .different ul li.active::after { bottom: 0; }
    .different ul.dif1 { flex-direction: column; }
    .different ul.dif2 { flex-direction: column; background-size: 150%; }
    .different ul.dif3 { flex-direction: column; }
}

@media(max-width:650px){
    .different { padding: 100px 0; }
    .different ul.dif2 { background: url(../img/different_2_small.jpg) no-repeat center / cover; background-size: 100%; }
}

@media (max-width:450px){
    .different ul li p { font-size: 1.6rem; }
}
@media (max-width:400px){
    .different ul li p { font-size: 1.4rem; }
    .different ul.dif1 { padding: 30px; }
    .different ul.dif2 { padding: 30px; background-size: 150%; }
    .different ul.dif3 { padding: 30px; }
    .different ul li.active p { transform: translateY(0); }
}

@media (max-width:320px){
    .different ul.dif2 { background-size: 175%; }
}

.veterinarian { padding: 150px 0 50px; }
.veterinarian h2::after { content: "Introduction"; color: #A19E96; }
.veterinarian_txt { text-align: center; padding-bottom: 80px; }
.veterinarian_txt ul { display: flex; justify-content: space-between; }
.veterinarian_txt ul li { width: calc(100% / 3); display: flex; align-items: center; font-size: 2rem; font-weight: 500; position: relative; justify-content: center; }
/* .veterinarian_txt ol { display: flex; justify-content: space-between; gap: 30px; padding: 50px 0; }
.veterinarian_txt ol li img { width: 80%; } */
/* .veterinarian_txt ul li::after { content: ""; width: 100%; height: 100%; background: url(../img/con_img.png) no-repeat center / cover; position: absolute; left: 0; bottom: 0; z-index: -1; } */
.veterinarian_list ul li img { width: 100%; border-radius: 30px; }

.more_btn { line-height: 50px; padding: 0; border-radius: 0; background: none; display: flex; align-items: center; justify-content: center; width: 170px; justify-self: center; position: relative; cursor: pointer; font-weight: 600;}
.more_btn a { transition: all 0.5s; }
.veterinarian .more_btn { height: 200px; }
/* .veterinarian .btn a::after { content: "->"; width: 50px;height: 50px; position: absolute; right: -70px; top: 50%; transform: translateY(-50%); text-align: center; background: var(--main-color); color: #fff; border-radius: 30px; margin: 0 10px; transition: all 0.5s; z-index: -1;}
.veterinarian .btn a:hover::after { padding-left: 120px; } */

.more_btn button { position: absolute; right: -30px; top: 50%; transform: translateY(-50%); font-size: 2.4rem; color: #fff; background: var(--main-color); width: 50px; height: 50px; border-radius: 30px; margin: 0 10px; transition: all 0.5s; text-align: right; padding-right: 13px; z-index: -1;}
.more_btn:hover button { width: 100%; }
.more_btn:hover a { color: #fff; }

@media (max-width:1000px) {
    .more_btn button { width: 40px; height: 40px; padding-right: 9px; }
}

@media (max-width:650px) {
    .veterinarian { padding: 150px 0 0; }
    .veterinarian h2{ font-size: 2rem; }
}

@media (max-width:450px) {
    .veterinarian { padding: 100px 0 0; }
    .veterinarian h2{ font-size: 1.8rem; }
}

.swiper-wrapper { transition-timing-function: linear; }


.review { background: #f8f6f4; padding: 150px 0; position: relative; }
.review .inner { display: grid; grid-template-columns: auto auto; gap: 100px; align-items: center; max-width: 9999px; padding: 0; padding-left: 260px; }
.review h2 { font-weight: 400;  }
.review h2::after { content: "Review"; left: 50px; }
.review span { font-weight: 600; }
.review_list { width: 100%; }
.review_list ul li { width: 400px !important; padding: 30px; height: 500px; background: #fff; border-radius: 20px; box-shadow: rgba(0, 0, 0, 0.2) 0 0 2px; display: flex; justify-content: space-between; flex-direction: column; line-height: 1.8; }
.review_list ul li span { display: block; text-align: center; padding: 15px 0; background: #f5f5f5; border-radius: 10px; }
.review .more_btn { position: absolute; left: 50%; bottom: 50px; transform: translateX(-50%); }

@media(max-width:1000px){
    .review .inner { padding-left: 0; padding: 0 20px; }
    .review_list ul li { font-size: 1.4rem;  }
}
@media(max-width:768px){
    .review .inner { gap: 30px; }
}
@media(max-width:600px){
    .review .inner { grid-template-columns: 1fr; }
    .review_list ul li { width: 300px !important; }
}

@media(max-width:450px){
    .review { padding: 100px 0; }
    .review .more_btn { bottom: 30px; }
}

.subject { padding: 100px 0; line-height: 1.2;}
.subject .inner { text-align: center; }
.subject h1 { padding: 20px 0; }
.subject h4, .subject h3 { color: var(--main-color); font-family: 'NanumSquareNeo'; }
.subject h4 { font-weight: 800; font-size: 6rem; padding-bottom: 30px;}
.subject h3 { font-size: 3.2rem; font-weight: 400; }
.subject h2 { display: block; width: 100%; color: #000; font-size: 3rem; padding: 50px 0; font-family: 'NanumSquareNeo'; font-weight: 400; }
.subject h2:nth-child(4):after { content: "Subject"; color: #A19E96; top: 0; }

.subject_list { display: flex; justify-content: space-between; gap: 30px; padding: 30px; background: #F8F6F4; border-radius: 20px;}
.subject_list li { border: 2px solid #bbb; width: calc(100% / 7); border-radius: 10px; padding: 15px 0; font-size: 2rem; color: #333; font-weight: 500; transition: all 0.5s; position: relative; cursor: pointer; z-index: 1;}
.subject_list li:after { content: ""; position: absolute; left: 0; bottom: 0; width: 100%; height: 0; background: var(--main-color); transition: all 0.5s; z-index: -1;}
.subject_list li:hover { color: #fff; border: 2px solid var(--main-color); }
.subject_list li:hover::after { height: 100%; }

@media (max-width:1000px){
    .subject_list { gap: 20px; }
    .subject_list li { padding: 10px 0; font-size: 1.6rem; }
}

@media (max-width:768px){
    .subject_list { gap: 10px; display: grid; grid-template-columns: 1fr 1fr; }
    .subject_list li { width: 100%; }
    .subject h3 { font-size: 2.2rem; }
    .subject h4 { font-size: 4rem; }
}

@media(max-width:650px){
    .subject { padding: 50px 0; }
}

.special { display: flex; border-radius: 30px; overflow: hidden; max-width: 1820px; margin: 0 auto; }
.special li { width: 100%; height: 600px; position: relative; overflow: hidden; transition: all 0.5s;}
.special li.active { padding: 0 200px; }
.special li .black { width: 100%; height: 100%; background: rgba(0, 0, 0, 0.6); position: absolute; left: 0; top: 0;  }
.special li p { display: none;}
.special li:nth-child(1) { background: url(../img/subject_1.png) no-repeat center / cover; }
.special li:nth-child(2) { background: url(../img/subject_2.png) no-repeat center / cover; }
.special li:nth-child(3) { background: url(../img/subject_3.png) no-repeat center / cover; }
.special li:nth-child(4) { background: url(../img/subject_4.png) no-repeat center / cover; }
.special li:nth-child(5) { background: url(../img/subject_5.png) no-repeat center / cover; }
.special li:nth-child(6) { background: url(../img/subject_6.png) no-repeat center / cover; }

.special_txt { position: absolute; left: 0; top: 50%; transform: translateY(-50%); width: 100%; height: 80px; background: /* rgba(66, 111, 192, 0.33) */ rgba(48, 183, 186, 0.33); display: flex; flex-direction: column; justify-content: space-around; align-items: center; transition: all 0.3s; text-align: center; }
.special_txt span { font-size: 2rem; font-weight: 600; color: #1CD6DA; text-align: center; transition: all 0.5s; }
.special_txt p { color: #fff; font-weight: 400; letter-spacing: 1.3px; opacity: 0.8; }

.special li.active .special_txt { background: rgba(48, 183, 186, 0.6); }
.special li.active .special_txt span { color: #fff; }

@media (max-width:1000px) {
    .special { max-width: calc(100% - 40px); }
    .special_txt span { font-size: 1.6rem; }
    .special_txt p { font-size: 1.4rem; }
}

@media(max-width:768px){
    .special_txt span { opacity: 0; }
    .special li.active .special_txt span { opacity: 1; }
    .special_txt p { font-size: 1.4rem; }
}

@media(max-width:650px){
    .special { flex-direction: column; height: 900px; }
    .special li { height: 100%; }
    .special li.active { padding: 200px 0; }
    .special_txt span { opacity: 1; }
    .special_txt p { font-size: 1.6rem; }
}
@media(max-width:450px){
    .special_txt p { font-size: 1.4rem; opacity: 1;}
    .special li.active { padding: 150px 0; }
}

.case { padding: 100px 0 150px; text-align: center; }
.case .btn { width: 100%; display: flex; align-items: center; justify-content: right; padding: 30px 0; font-weight: 600;}
.case h2 { padding-bottom: 50px; }
.case h2::after { content: "Report"; color: #A19E96; }
.case_list { display: grid; grid-template-columns: repeat(6, 1fr); padding: 30px; background: #F8F6F4; gap: 20px; border-radius: 30px; }
.case_list li { padding: 15px 0; background: #fff; border: 1px solid #bbb; border-radius: 10px; transition: all 0.5s; cursor: pointer; }
.case_list li:hover { background: var(--main-color); color: #fff; font-weight: 600; border: 1px solid var(--main-color); }
.case_list li.active { background: var(--main-color); color: #fff; font-weight: 600; border: 1px solid var(--main-color); }

.case_post { display: grid; grid-template-columns: 1fr 1fr 1fr 1fr; gap: 50px; justify-content: flex-start;  }
.case_post li { width: 100%; }
.case_post li a { display: block; width: 100%; height: 100%; }
.case_post li a div { width: 100%; overflow: hidden; display: inline-block; border-radius: 10px; }
.case_post li a:hover img { transform: scale(1.15); }
.case_post li img { width: 100%; border-radius: 10px; aspect-ratio: 1/1; transition: all 0.3s; }
.case_post li h5 { font-size: 1.8rem; text-align: left; padding: 10px 0; font-weight: 500; }
.case_post li p { float: right; font-size: 1.4rem; font-weight: 600; opacity: 0.6; }

.case_post li:last-child { display: none; font-size: 2rem; }

@media (max-width:1000px){
    .case_list { gap: 10px; }
    .case_list li { font-size: 1.4rem; padding: 10px 0; }
    .case_post { grid-template-columns: 1fr 1fr; }
}
@media (max-width:900px){
    .case_list li { font-size: 1.2rem;}
}

@media (max-width:768px){
    .case_list { grid-template-columns: 1fr 1fr 1fr 1fr; }
    .case_post li h5 { font-size: 1.6rem; }
}

@media (max-width:650px){
    .case_list { grid-template-columns: 1fr 1fr 1fr; }
    .case_post li h5 { font-size: 1.4rem; }
}

@media(max-width:450px){
    .case { padding: 100px 0; }
    .case_list { grid-template-columns: 1fr 1fr; }
    .case_post { gap: 30px; }
}



.facility { background: #F8F6F4; padding: 150px 0; }
.facility h2::after { content: "Place"; color: #A19E96; left: 30px; }
.facility .inner { display: grid; grid-template-columns: 1fr 1fr; gap: 150px; }
.facility_txt { display: flex; flex-direction: column; justify-content: center; }
.facility_txt h2 { color: #444035; font-weight: 400;}
.facility_txt p { font-size: 2rem; color: #757575; padding: 30px 0; padding-right: 50px; }
.facility_list { width: 100%; border-radius: 20px; position: relative; }
.facility_list img { width: 100%; }
.swiper-btn { position: absolute; bottom: 0; left: 0; width: 120px; height: 60px; background: var(--main-color); z-index: 1; border-radius: 20px; display: flex; gap: 10px; align-items: center; justify-content: center;}
.facility-prev::after, .facility-next::after { position: static; font-size: 2rem; font-weight: 700; color: #fff; }
.swiper-pagination-fraction { position: static; width: auto; color: #fff; font-size: 2rem; }

@media (max-width:1000px){
    .facility .inner { gap: 0; }
    .facility_txt h2 { font-size: 2.8rem; }
    .facility_txt p { font-size: 1.6rem; }
}

@media(max-width:900px){
    .facility_txt p { padding-right: 0; }
}

@media (max-width:768px){
    .facility .inner { gap: 0; }
    .facility_txt h2 { font-size: 2.2rem; }
    .facility_txt p { font-size: 1.4rem; }
}

@media (max-width:700px){
    .facility_txt h2 { font-size: 2rem; }
    .facility_txt p { font-size: 1.3rem; }
}

@media (max-width:650px){
    .facility { padding: 100px 0; }
    .facility_txt h2 { font-size: 1.8rem; }
    .facility_txt p { font-size: 1.2rem; }
}

@media(max-width:600px){
    .facility .inner { grid-template-columns: 1fr; }
    .facility_txt p { font-size: 1.4rem; }
    .facility-prev::after, .facility-next::after, .swiper-pagination-fraction { font-size: 1.6rem; }
    .swiper-btn { height: 50px; right: 0; left: auto;}
}


.last { padding: 100px 0; position: relative; z-index: -2; overflow: hidden;}
.last::after { content: ""; width: 100%; height: 100%; background: url(../img/last_bg.jpg) no-repeat center / cover; position: absolute; left: 0; top: 0; z-index: -2; filter: blur(10px);}
.last .color_bg { width: 100%; height: 100%; background: var(--main-color); opacity: 0.7; position: absolute; left: 0; top: 0; z-index: -1;}
.last .inner { display: flex; gap: 200px; align-items: center; }
.last_txt { font-size: 3.2rem; color: #fff; text-wrap: nowrap; }
.last_img { border-radius: 50px; overflow: hidden; border: 5px solid var(--main-color);}
.last_img img { width: 100%; }

@media (max-width:1000px){
    .last .inner { gap: 50px; }
    .last_txt { font-size: 2.6rem; }
}

@media (max-width:768px){
    .last .inner { gap: 30px; }
    .last_txt { font-size: 2.2rem; }
}
@media (max-width:650px){
    .last { padding: 50px 0; }
    .last .inner { gap: 20px; }
    .last_txt { font-size: 2rem; }
}
@media(max-width:450px){
    .last .inner { display: block; }
    .last_txt { padding-bottom: 30px; }
}

#footer { padding: 50px 0; }
#footer .inner { display: flex; gap: 60px; max-width: 1860px; flex-wrap: wrap; }
#footer a img { width: 100px; opacity: 0.8;}
.footer_txt { display: grid; align-items: center; opacity: 0.7; }
.footer_txt h3 { font-style: 2rem; }
.footer_info { display: grid; grid-template-columns: 1fr 1fr 1fr; gap: 0 15px; }
.footer_info li { padding: 15px 0; }
.footer_info span { display: inline-block; font-weight: 600;}

.copy { width: 100%; opacity: 0.6; display: flex; align-items: end; justify-content: end; flex: 1; }

@media(max-width:1300px){
    #footer .inner { gap: 30px; }
    .footer_txt { font-size: 1.4rem; }
}

@media (max-width:1150px){
    #footer .inner { gap: 50px; }
    .footer_info { grid-template-columns: 1fr; }
    .footer_info li { padding: 5px 0; }
}

@media (max-width:800px){
    #footer .inner { gap: 20px; }
    .footer_info {  width: 100%;}
}

@media(max-width:650px){
    #footer { padding: 50px 0 100px; }
    .footer_txt { font-size: 1.2rem; }
    .copy { font-size: 1.2rem; }
 }
 @media(max-width:450px){
    #footer .inner { flex-wrap: wrap; gap: 50px; }
    .footer_info { width: 100%; }
 }