@charset "utf-8";


:root {--main-color: #30B7BA;}

body { font-family: 'Pretendard',sans-serif; font-size: 1.6rem; color: #000; background: #fff; overflow-x: hidden; line-height: 1.5;}
.inner { max-width: 1440px; margin: 0 auto; padding: 0 20px; height: 100%; }

#header { position: fixed; left: 0; top: 0; width: 100%; height: 80px; z-index: 99; background: #fff; }
#header .inner { max-width: 1820px; display: flex; justify-content: space-between; align-items: center; height: 100%;}
#header h1 { font-size: 0; }
#header nav { height: 100%; }
#header .gnb { display: flex; font-size: 1.8rem; font-weight: 500; text-align: center; height: 100%; align-items: center; }
#header .gnb > li { position: relative; padding: 0 20px; height: 100%; display: flex; align-items: center; cursor: pointer; transition: all 0.3s; }
#header .gnb li.active { color: var(--main-color);}

/* 헤더 버튼 */
#header .btns { display: flex; gap: 30px; }
#header .btns button { background: transparent; border: 1px solid #bbb; border-radius: 40px; padding: 10px 20px; font-size: 1.6rem; transition: all 0.5s; }
#header .btns button:hover { background: var(--main-color); color: #fff; }


/* 2차 메뉴 */
#header .gnb li .depth2 { position: absolute; left: 0; top: 80px; width: 100%; display: none; z-index: 99; padding-top: 20px;  }
#header .gnb li .depth2 li { padding: 10px 0; color: #A19E96; transition: all 0.3s; cursor: pointer; }
#header .gnb li .depth2 li:hover { color: var(--main-color); }

#header .bg { width: 100%; position: absolute; left: 0; background: rgba(0, 0, 0, 0.6); height: 400px; display: none; z-index: 98; }



/* 메인 */
.btn { padding: 15px 25px; background: rgba(255,255,255,0.4); border-radius: 50px; font-size: 1.8rem;  }
h2 { font-size: 4rem; font-weight: 400; display: inline-block; position: relative; font-family: 'NanumSquareNeo',sans-serif;}
h2::after { content: ""; font-size: 3rem; position: absolute; left: 50%; top: -50px; transform: translateX(-50%); color: #caa547; font-family: "Playball", cursive; font-weight: 400; letter-spacing: 2px;}

/* 퀵메뉴 */
.quickbar { position: fixed; right: 30px; top: 50%; transform: translateY(-50%); z-index: 99; background: #fff; border-radius: 10px; overflow: hidden; box-shadow: rgba(0, 0, 0, 0.2) 0 0 10px; }
.quickbar ul li a { display: flex; flex-direction: column; align-items: center; text-align: center; padding: 10px 0; }
.quickbar ul li a img { width: 34px; margin: 10px; }
.quickbar ul li { padding: 0 5px; border-top: 1px solid rgba(104, 104, 104, 0.2); display: flex; align-items: center; justify-content: center; flex-direction: column; transition: all 0.5s; }
.quickbar ul li:nth-child(6) { background: var(--main-color); color: #fff; }
.quickbar ul li:nth-child(6),.quickbar ul li:nth-child(1) { border: none; }
.quickbar ul li:nth-child(6)::before { content: "->"; display: block; width: 40px; height: 40px; transform: rotate(-90deg); justify-self: center; line-height: 40px; font-size: 2.2rem; color: #fff; }

.quickbar ul li:hover { background: rgba(48, 183, 186, 0.1); }
.quickbar ul li:nth-child(6):hover { background: #1ca4a7 }


.main_visual { padding-top: 80px; background: url(../img/m_visual.jpg) no-repeat center /cover; position: relative; overflow: hidden;}
.main_visual::after {content: ""; width: 100%; height: 100%; position: absolute; left: 0; top: 0; background: #000; opacity: 0.7; z-index: 0;}
.m_visual { width: 100%; height: 100vh; position: relative; }
.m_visual_txt { position: absolute; left: 0; width: 100%; height: 100%; font-size: 3.6rem; color: #fff; z-index: 1;}
.m_visual_txt .inner { display: flex; flex-direction: column; justify-content: center; align-items: flex-start; }
.m_visual_txt h2 { padding-bottom: 50px; }
.m_visual .btn { color: #fff; font-weight: 600; transition: all 0.5s; }
.m_visual .btn:hover { background: #fff; color: var(--main-color); font-weight: 600; }

.director { position: absolute; right: 7vw; bottom: 0; width: 65%; display: flex; z-index: 3; }
.director img { width: 100%; }
.director div:nth-child(1) { transform: translateX(200px); }



.sub_visual { margin: 100px 0; height: 900px; }
.sub_visual .inner { max-width: 1200px; }
.sv { background: url(../img/sub_visual.png) no-repeat center / cover; width: 100%; height: 100%; border-radius: 50px; }

.about { background: url(../img/about_bg.png) no-repeat; height: 750px; position: relative; background-attachment:fixed; background-position: center -1000px;}
.about_bg { background: rgba(0, 0, 0, 0.5); width: 100%; height: 100%; position: absolute; left: 50%; top: 50%; transform: translate(-50%, -50%); z-index: 0;}
.about_txt { text-align: center; color: #fff; width: 100%; max-width: 1440px; position: absolute; left: 50%; top: 50%; transform: translate(-50%,-50%);}
.about_txt h2 { padding-bottom: 100px; }
.about_txt h2::after {content: "About";}
.about_txt ul { display: flex; gap: 50px; justify-content: space-between; font-size: 3rem; }
.about_txt ul li { width: 100%; height: 100%; background: rgba(0, 0, 0, 0.4); padding: 50px 0; border-radius: 30px; position: relative; }
.about_txt ul li::after { content: ""; position: absolute; left: 50%; top: 50%; width: calc(100% - 20px); height: calc(100% - 20px); border: 2px solid var(--main-color); border-radius: 30px; transform: translate(-50%, -50%); opacity: 0.6;} 
.about_txt ul li span { display: block; font-size: 4rem; display: flex; align-items: center; justify-content: center; gap: 15px; color: #caa547; font-weight: 600; }
.about_txt ul li b { font-weight: 400; font-size: 2.8rem; color: #fff; }

.different { text-align: center; padding: 120px 0; background: linear-gradient(rgba(255,255,255,0.1), rgba(219,219,219,0.3) 100%); }
.different h2 { padding-bottom: 50px; }
.different h2::after { content: "Difference"; color: #A19E96; }
.different ul { display: flex; gap: 50px; justify-content: space-between; }
.different ul li p { padding: 30px 0; font-size: 2.4rem; font-weight: 400; color: #444035;}
.different ul li p span { color: #ff3535; font-weight: 700; }
.different ul li img { width: 100%; }

.veterinarian { padding: 100px 0; }
.veterinarian h2::after { content: "Introduction"; color: #A19E96; }
.veterinarian_txt { text-align: center; }
.veterinarian_txt ul { display: flex; justify-content: space-between; }
.veterinarian_txt ul li { width: calc(100% / 3); display: flex; align-items: center; font-size: 2rem; font-weight: 500; position: relative; justify-content: center; }
.veterinarian_txt ol { display: flex; justify-content: space-between; gap: 30px; padding: 50px 0; }
.veterinarian_txt ol li img { width: 80%; }
/* .veterinarian_txt ul li::after { content: ""; width: 100%; height: 100%; background: url(../img/con_img.png) no-repeat center / cover; position: absolute; left: 0; bottom: 0; z-index: -1; } */
.veterinarian_list ul li img { width: 100%; border-radius: 30px; }

.more_btn { line-height: 50px; padding: 0; border-radius: 0; background: none; display: flex; align-items: center; justify-content: center; width: 170px; justify-self: center; position: relative; cursor: pointer; font-weight: 600;}
.more_btn a { transition: all 0.5s; }
.veterinarian .more_btn { height: 200px; }
/* .veterinarian .btn a::after { content: "->"; width: 50px;height: 50px; position: absolute; right: -70px; top: 50%; transform: translateY(-50%); text-align: center; background: var(--main-color); color: #fff; border-radius: 30px; margin: 0 10px; transition: all 0.5s; z-index: -1;}
.veterinarian .btn a:hover::after { padding-left: 120px; } */

.more_btn button { position: absolute; right: -30px; top: 50%; transform: translateY(-50%); font-size: 2.4rem; color: #fff; background: var(--main-color); width: 50px; height: 50px; border-radius: 30px; margin: 0 10px; transition: all 0.5s; text-align: right; padding-right: 13px; z-index: -1;}
.more_btn:hover button { width: 100%; }
.more_btn:hover a { color: #fff; }

.swiper-wrapper { transition-timing-function: linear; }


.review { background: #f8f6f4; height: 900px; position: relative; }
.review .inner { display: grid; grid-template-columns: auto auto; gap: 100px; align-items: center; max-width: 9999px; padding: 0; padding-left: 260px; }
.review h2 { font-weight: 400;  }
.review h2::after { content: "Review"; left: 50px; }
.review span { font-weight: 600; }
.review_list { width: 100%; }
.review_list ul li { width: 400px !important; height: 500px; padding: 30px; background: #fff; border-radius: 20px; box-shadow: rgba(0, 0, 0, 0.2) 0 0 2px; display: flex; justify-content: space-between; flex-direction: column; }
.review_list ul li span { display: block; text-align: center; padding: 15px 0; background: #ddd; border-radius: 10px; }
.review .more_btn { position: absolute; left: 50%; bottom: 100px; transform: translateX(-50%); }

.subject { padding: 100px 0; line-height: 1.2;}
.subject .inner { text-align: center; }
.subject h1 { padding: 20px 0; }
.subject h2, .subject h3 { color: #426FC0; font-family: 'NanumSquareNeo'; }
.subject h2 { font-weight: 800; font-size: 6rem; padding-bottom: 30px;}
.subject h3 { font-size: 3.2rem; font-weight: 400; }
.subject h4 { display: block; width: 100%; color: #fff; background: #426FC0; font-size: 3rem; padding: 20px 0; font-family: 'NanumSquareNeo'; }
.subject_list { display: flex; justify-content: space-between; gap: 30px; padding: 30px 0; }
.subject_list li { border: 2px solid #426FC0; width: calc(100% / 7); padding: 25px 0; font-size: 2.4rem; color: #426FC0; font-weight: 500; transition: all 0.5s; position: relative; cursor: pointer;}
.subject_list li:after { content: ""; position: absolute; left: 0; bottom: 0; width: 100%; height: 0; background: rgb(66, 111, 192); transition: all 0.5s; z-index: -1;}
.subject_list li:hover { color: #fff; }
.subject_list li:hover::after { height: 100%; }

.special { display: flex; border-radius: 30px; overflow: hidden; max-width: 1820px; margin: 50px auto 0; }
.special li { width: 100%; height: 600px; position: relative; overflow: hidden; transition: all 0.5s;}
.special li.active { padding: 0 200px; }
.special li .black { width: 100%; height: 100%; background: rgba(0, 0, 0, 0.6); position: absolute; left: 0; top: 0;  }
.special li p { display: none;}
.special li:nth-child(1) { background: url(../img/subject_1.png) no-repeat center / cover; }
.special li:nth-child(2) { background: url(../img/subject_2.png) no-repeat center / cover; }
.special li:nth-child(3) { background: url(../img/subject_3.png) no-repeat center / cover; }
.special li:nth-child(4) { background: url(../img/subject_4.png) no-repeat center / cover; }
.special li:nth-child(5) { background: url(../img/subject_5.png) no-repeat center / cover; }
.special li:nth-child(6) { background: url(../img/subject_6.png) no-repeat center / cover; }

.special_txt { position: absolute; left: 0; top: 50%; transform: translateY(-50%); width: 100%; height: 80px; background: rgba(66, 111, 192, 0.33) /* rgba(48, 183, 186, 0.33) */; display: flex; flex-direction: column; justify-content: space-around; align-items: center; transition: all 0.3s; }
.special_txt span { font-size: 2rem; font-weight: 600; color: #1CD6DA; }
.special_txt p { color: #fff; font-weight: 400; letter-spacing: 1.3px; opacity: 0.8; }

.special li.active .special_txt { background: rgba(66, 111, 192, 0.8); }

.case { padding: 50px 0; text-align: center; }
.case .btn { width: 100%; display: flex; align-items: center; justify-content: right; padding: 30px 0; font-weight: 600;}
.case h2 { padding-bottom: 50px; }
.case h2::after { content: "Report"; color: #A19E96; }
.case_list { display: grid; grid-template-columns: repeat(6, 1fr); padding: 30px; background: #F8F6F4; gap: 20px; border-radius: 30px; }
.case_list li { padding: 15px 0; background: #fff; border: 1px solid #bbb; border-radius: 10px; transition: all 0.5s; cursor: pointer; }
.case_list li:hover { background: var(--main-color); color: #fff; font-weight: 600; border: 1px solid var(--main-color); }
.case_list li.active { background: var(--main-color); color: #fff; font-weight: 600; border: 1px solid var(--main-color); }

.case_post { display: flex; gap: 50px; flex-wrap: wrap; justify-content: center; }
.case_post li { width: calc(100% / 4 - 50px); }
.case_post li a { display: block; width: 100%; height: 100%; }
.case_post li img { width: 100%; border-radius: 10px; }
.case_post li h5 { font-size: 1.8rem; text-align: left; padding: 10px 0; font-weight: 500; }
.case_post li p { float: right; font-size: 1.4rem; font-weight: 600; opacity: 0.6; }

.facility { background: #F8F6F4; padding: 100px 0; }
.facility h2::after { content: "Place"; color: #A19E96; left: 30px; }
.facility .inner { display: grid; grid-template-columns: 1fr 1fr; gap: 150px; }
.facility_txt { display: flex; flex-direction: column; justify-content: center; }
.facility_txt h2 { font-size: 4rem; color: #444035; font-weight: 400;}
.facility_txt p { font-size: 2rem; color: #757575; padding: 30px 0; padding-right: 50px; }
.facility_list { width: 100%; border-radius: 20px; position: relative; }
.facility_list img { width: 100%; }
.swiper-btn { position: absolute; bottom: 0; right: 0; width: 120px; height: 60px; background: var(--main-color); z-index: 1; border-radius: 20px; display: flex; gap: 10px; align-items: center; justify-content: center;}
.facility-prev::after, .facility-next::after { position: static; font-size: 2rem; font-weight: 700; color: #fff; }
.swiper-pagination-fraction { position: static; width: auto; color: #fff; font-size: 2rem; }

.last { padding: 100px 0; position: relative; z-index: -2; overflow: hidden;}
.last::after { content: ""; width: 100%; height: 100%; background: url(../img/last_bg.jpg) no-repeat center / cover; position: absolute; left: 0; top: 0; z-index: -2; filter: blur(10px);}
.last .color_bg { width: 100%; height: 100%; background: var(--main-color); opacity: 0.7; position: absolute; left: 0; top: 0; z-index: -1;}
.last .inner { display: flex; gap: 200px; align-items: center; }
.last_txt { font-size: 3.2rem; color: #fff; text-wrap: nowrap; }
.last_img { border-radius: 50px; overflow: hidden; border: 5px solid var(--main-color);}
.last_img img { width: 100%; }

#footer { padding: 50px 0; }
#footer .inner { display: flex; gap: 60px; max-width: 1860px; }
#footer a img { width: 100px; opacity: 0.8;}
.footer_txt { display: grid; align-items: center; opacity: 0.7; }
.footer_txt h3 { font-style: 2rem; }
.footer_info { display: grid; grid-template-columns: 1fr 1fr 1fr; gap: 0 15px; }
.footer_info li { padding: 15px 0; }
.footer_info span { display: inline-block; font-weight: 600;}

.copy { width: 100%; opacity: 0.6; display: flex; align-items: end; justify-content: end; flex: 1; }